*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.navbar{
    background-color: rgb(226, 43, 89);
    padding: 10px 0px 10px 0px;
    font-size: 15px;
    width: 100%;
}
a{
    text-decoration: none;
    color:rgb(9, 117, 189);
    margin:15px;
}
body{
    margin: 0;
}
.login-com{
    float: right;
    margin-right: 20px;
}
.btn{
    padding: 3px 10px 5px 10px;
    border-radius: 10px;
    margin: 10px;
    cursor: pointer;
    margin-left: 0%;

}
.btn-login{
    background-color: aqua;
}
.btn-register{
    background-color: brown;
    color: rgb(53, 187, 0);
}
.img{
    margin-top: 2px;
    width: 100%;
}
.margin-1{
    margin: 0px;
}
.card-about{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.card{
    border: 2px solid black;
    padding: 5px;
    margin: 5px;
    width: 100%;
    text-align: center;
}
.text-center{
    text-align: center;
    margin: 0px;
}
.card img{
    width: 200px;
    height: 200px;
}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
}
.col-2{
    width: 50%;
}
.footer{
    background-color: rgb(72, 201, 201);
    padding: 10px 0px 10px 0px;
    width: 100%;
}
.about-head{
    padding: 10px 0px 10px 0px;
    width: 100%;
    background-color: rgb(147, 226, 43);
}
.para{
    padding: 10px ;
    word-spacing:normal;
    text-align:justify;
    font-size:20px;                               
}
.text-justify{
    text-align: justify;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 10px;
    justify-content:center;
}
.contact{
    justify-content: center;
    padding: 10px 0px 10px 0px;
    font-family:serif;
    margin: 0px 10px 0px 10px;
}
input,select{
    width:250px;
    height: 30px;
}
.Description{
    margin-left: 10px;
}
.Des-size{
    width: 80%;
}
.text{
    margin-left: 5px;
}
.border{
    border: 1px solid rgb(130, 214, 130);
    margin: 10px;
    padding: 10px;
    background-color: rgb(146, 185, 172);
}
.height{
    height: 70%;
}
.size{
    font-size: 30px;
    color: blue;
}
h2{
    margin: 10px;
}
.Ashoka{
    float:right;
    margin: 10px;
    border: 1px solid;
    width: 40%;
    height: 35%;
}
.form{
    background-color: azure;
    text-indent: 0%;
    margin: 20px 0px 20px 0px;
    padding: 20px;
    border: 1px solid brown;
}
.center{
    margin: 0% 33% 0% 33% ;  
}
.margin{
    float: right;
    margin: 12px 0px 12px 12px;
}
